version: "3.9"

services:
  nextjs:
    container_name: student-council-app
    build:
      context: .
      dockerfile: Dockerfile
    image: nextjs:15.3.6
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3000
    ports:
      - "${APP_PORT}:3000"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
